@if(!vm().competition) {
  <p>
    Could not find requested competition.
  </p>
} @else {
  <sp-competition
    [competition]="vm().competition!"
    class="mb-3" />

  <a [routerLink]="['/competitions', vm().competition!.id]">
    View List and points
  </a>

  <hr>

  <div class="pokemon-box-wrapper d-flex flex-wrap gap-2">
    @for (pokemon of vm().validPokemon; track pokemon.id) {
      <div class="pokemon-box card">
        <div class="card-body d-flex flex-column align-items-middle justify-content-between">
          <div class="pokemon-image bg-image flex-grow-1" [ngStyle]="{'background-image': pokemon.artwork}">

          </div>
          <span class="pokemon-name align-self-center text-center">
            {{ pokemon.name }}
          </span>
          <span class="d-flex align-items-center justify-content-center">
            <a
              [href]="pokemon.serebiiLink"
              target="_blank"
              title="View Pokémon on Serebii.net"
              class="image-link serebii-link">
              <span class="visually-hidden">Serebii.net</span>
            </a>
            <a
              [href]="pokemon.bulbapediaLink"
              target="_blank"
              title="View Pokémon on Bulbapedia"
              class="image-link bulbapedia-link">
              <span class="visually-hidden">Bulbapedia</span>
            </a>
          </span>
        </div>
      </div>
    }
  </div>
}
