<div class="d-flex align-items-center">
  <span>
    {{ pokemon().dexNo}}. {{ pokemon().name }}
  </span>

  <span class="ms-auto d-flex align-items-center gap-1">
    <a
      [href]="pokemon().serebiiLink"
      target="_blank"
      title="View Pokémon on Serebii.net"
      class="image-link serebii-link">
      <span class="visually-hidden">Serebii.net</span>
    </a>
    <a
      [href]="pokemon().bulbapediaLink"
      target="_blank"
      title="View Pokémon on Bulbapedia"
      class="image-link bulbapedia-link">
      <span class="visually-hidden">Bulbapedia</span>
    </a>
  </span>
</div>
