<div class="smart-layout-evenly align-items-start">
  <div>
    <pre>
      <ng-container *ngrxLet="newCompetition$ as newCompetition">
        <ng-container *ngIf="!!newCompetition">
  '{{ newCompetition.id }}': {{ '{' }}
    data: {{ '{' }}
      type: 'competition',
      id: '{{ newCompetition.id }}',
      attributes: {{ '{' }}
        description: '{{ newCompetition.description }}',
        endDate: '{{ newCompetition.endDate!.toISOString().split('T')[0] }}',
        startDate: '{{ newCompetition.startDate!.toISOString().split('T')[0] }}',
        theme: '{{ newCompetition.theme }}',
      &#125;,
      relationships: {{ '{' }}
        selectedBy: {{ '{' }}
          data: {{ '{' }}
            id: '{{ newCompetition.selectedByID }}',
            type: 'player'
          &#125;
        &#125;,
        validPokemon: [],
        year: {{ '{' }}
          data: {{ '{' }}
            id: '{{ newCompetition.yearID }}',
            type: 'year'
          &#125;
        &#125;
      &#125;
    &#125;
  &#125;
</ng-container>
      </ng-container>
    </pre>
  </div>

  <div class="card">
    <div class="card-body">
      <h3>Create Competition</h3>

      <form
        [formGroup]="competitionForm"
        (ngSubmit)="createCompetition()">
        <div class="mb-3">
          <label
            for="theme"
            class="form-label">
            Theme:
          </label>
          <input
            formControlName="theme"
            class="form-control">
        </div>

        <div class="smart-layout-between">
          <div class="mb-3 flex-grow-1">
            <label
              for="selectedBy"
              class="form-label">
              Selected By:
            </label>
            <input
              container="body"
              [editable]="false"
              id="selectedBy"
              type="text"
              class="form-control"
              formControlName="selectedBy"
              [ngbTypeahead]="playerSearch"
              [inputFormatter]="playerInputFormatter"
              [resultTemplate]="playerTemplate">
          </div>

          <div class="mb-3">
            <label
              for="year"
              class="form-label">
              Year:
            </label>
            <input
              formControlName="yearID"
              class="form-control">
          </div>

        </div>


        <div class="mb-3">
          <label
            for="description"
            class="form-label">
            Description:
          </label>
          <textarea
            formControlName="description"
            class="form-control">
          </textarea>
        </div>

        <div class="smart-layout-evenly">
          <div class="mb-3">
            <label
              for="startDate"
              class="form-label">
              Start Date:
            </label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dps"
                formControlName="startDate"
                ngbDatepicker
                #ds="ngbDatepicker">
              <button class="btn btn-outline-secondary" (click)="ds.toggle()" type="button">
                D
              </button>
            </div>
          </div>

          <div class="mb-3">
            <label
              for="endDate"
              class="form-label">
              End Date:
            </label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dpe"
                formControlName="endDate"
                ngbDatepicker
                #de="ngbDatepicker">
              <button class="btn btn-outline-secondary" (click)="de.toggle()" type="button">
                D
              </button>
            </div>
          </div>
        </div>

        <div class="smart-layout-end">
          <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="competitionForm.invalid">
            Add Competition
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #playerTemplate let-r="result" let-t="term">
	{{ r.formattedName }}
</ng-template>
