@if (!vm().year) {
  <h2>Year not found</h2>
} @else {
  <h2>{{ vm().year!.name }}</h2>

  <div class="smart-layout-evenly">
    <div class="flex-grow-2">
      <h3>Scores</h3>
      <ol class="list-unstyled">
        @for (yearPointsDatum of vm().yearPointsData; track yearPointsDatum.player.id) {
          <li>
            <div class="card mb-3">
              <div class="card-body">
                <dl class="smart-layout-evenly">
                  <div>
                    <dt>Player</dt>
                    <dd><sp-inline-player [id]="yearPointsDatum.player.id" /></dd>
                  </div>

                  <div class="d-flex">
                    <div class="text-end flex-even">
                      <dt>Total Points</dt>
                      <dd>{{ yearPointsDatum.totalPoints }}</dd>
                    </div>

                    <div class="text-end flex-even">
                      <dt>Successful Hunts</dt>
                      <dd>{{ yearPointsDatum.successfulHuntsCount }}/{{ vm().competitionCount }}</dd>
                    </div>
                  </div>
                </dl>
              </div>
            </div>
          </li>
        }
      </ol>
    </div>

    <div>
      <h3>Competitions</h3>
      <sp-competition-list [competitions]="vm().competitions" />
    </div>
  </div>
}
