<div class="smart-layout-evenly align-items-start">
  <div>
    <sp-copy-to-clipboard [sourceElement]="pokemonCode" />
    <pre #pokemonCode>
[@for (pokemon of selectedPokemon(); track pokemon.id; let isLast = $last) {

  {{ '{' }}
    data: {{ '{' }}
      // {{ pokemon.name }} <a (click)="removePokemon(pokemon)" class="text-danger">remove</a>
      id: '{{ pokemon.id }}',
      type: 'pokemon'
    &#125;
  &#125;@if (!isLast) {
,
}
}]
    </pre>
  </div>

  <div class="card">
    <div class="card-body">
      <h3>Pokémon</h3>
    </div>

    <div class="mx-3 mb-3">
      <input
            autocomplete="off"
            type="text"
            class="form-control"
            placeholder="Search"
            (keyup)="filterPokemon($event)" />
    </div>

      <ul class="list-group list-group-flush">
      @for (pokemon of unselectedPokemon(); track pokemon.id) {
        <li class="list-group-item d-flex align-items-center">
          <button
            type="button"
            class="btn btn-sm btn-outline-success me-3"
            (click)="addPokemon(pokemon)">
            +
          </button>
          <sp-pokemon
            [pokemon]="pokemon"
            class="flex-grow-1">
          </sp-pokemon>
        </li>
      }
    </ul>
  </div>
</div>
