<div class="smart-layout-evenly align-items-start">
  <div>
    <div class="smart-layout-end mb-3">
      <sp-copy-to-clipboard [sourceElement]="pokemonCode" />
    </div>

    <pre #pokemonCode>
[@for (pokemon of selectedPokemon(); track pokemon.id; let isLast = $last) {
  {{ '{' }}
    data: {{ '{' }}
      // {{ pokemon.name }} <a (click)="removePokemon(pokemon)" class="text-danger">remove</a>
      id: '{{ pokemon.id }}',
      type: 'pokemon'
    &#125;
  &#125;@if (!isLast) {,}
}
]</pre>
  </div>
  <div>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="'single'">
        <a ngbNavLink>Single Import</a>

        <ng-template ngbNavContent>
          <div class="card">
            <div class="card-body">
              <h3>Pokémon</h3>

              <input
                autocomplete="off"
                type="text"
                class="form-control mb-3"
                placeholder="Search"
                (keyup)="filterPokemon($event)" />

              <ul class="list-group list-group-flush">
                @for (pokemon of unselectedPokemon(); track pokemon.id) {
                  <li class="list-group-item d-flex align-items-center">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-success me-3"
                      (click)="addPokemon(pokemon)">
                      +
                    </button>

                    <sp-pokemon
                      [pokemon]="pokemon"
                      class="flex-grow-1">
                    </sp-pokemon>
                  </li>
                }
              </ul>
            </div>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="'bulk'">
        <a ngbNavLink>Bulk Import</a>

        <ng-template ngbNavContent>
          <div class="card">
            <div class="card-body">
              <h3>Bulk Import</h3>

              <textarea
                class="form-control mb-3"
                placeholder="Paste Pokemon Here"
                #pokemonTextArea
                rows="10"></textarea>

              <div class="smart-layout-end mb-3">
                <button
                  (click)="onParse()"
                  class="btn btn-outline-success">
                  Parse
                </button>

                <button
                  (click)="addAll()"
                  class="btn btn-outline-success">
                  Add All
                </button>
              </div>

              <div class="mb-3" #result>
                <h4>Result</h4>

                <ul class="list-unstyled">
                  @for (parsedPokemon of parsedPokemon(); track parsedPokemon.text) {
                    <li class="smart-layout-evenly align-items-center">
                      <input
                        class="form-control"
                        type="text"
                        [value]="parsedPokemon.text"
                        (input)="onKeyPress($event, parsedPokemon)" />

                      @if (parsedPokemon.pokemon) {
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-success flex-grow-0"
                          (click)="addPokemon(parsedPokemon.pokemon)">
                          +
                        </button>

                        <sp-pokemon [pokemon]="parsedPokemon.pokemon" />
                      } @else {
                        <button class="btn btn-sm btn-invisible flex-grow-0">
                          +
                        </button>
                        <span></span>
                      }
                    </li>
                    @if (!$last) {<hr class="my-1">}
                  }
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div
      [ngbNavOutlet]="nav"
      class="">
    </div>
  </div>
</div>
