<h4>
  <a [routerLink]="['/competitions', competition.id]">{{ competition.theme }}</a>
</h4>

<div class="d-flex align-items-center justify-content-start mb-3 gap-1">

  <sp-date-range
    [startDate]="competition.startDate"
    [endDate]="competition.endDate" />

  <a [routerLink]="['/years', competition.yearID]">
    ({{ competition.yearID }})
  </a>
</div>


<div class="mb-3">
  Theme Chosen by <sp-inline-player [id]="competition.selectedByID"></sp-inline-player>
</div>

<p class="preserve-lines">
  {{ competition.description }}
</p>
