<ng-container *ngIf="!!point">
  <div class="card">
    <div class="card-body">
      <div class="smart-layout-evenly mb-3">
        <span>
          <span
            *ngIf="point.firstCatch"
            title="First Catch!">🏆
          </span>
          <sp-inline-player [id]="point.playerID"></sp-inline-player>
        </span>

        <sp-inline-pokemon [id]="point.pokemonID"></sp-inline-pokemon>
      </div>

      <dl class="smart-layout-evenly">
        <div>
          <dt>Date:</dt>
          <dd><sp-date [date]="point.catchDate"></sp-date></dd>
        </div>

        <div>
          <dt>Ball:</dt>
          <dd>
            <sp-ball [ballType]="point.ball"></sp-ball>
          </dd>
        </div>

        <div>
          <dt>Game:</dt>
          <sp-game [gameType]="point.game"></sp-game>
        </div>

        <div>
          <dt>Method:</dt>
          <sp-method [methodType]="point.method"></sp-method>
        </div>
      </dl>
    </div>
  </div>
</ng-container>
