<ng-container *ngIf="!!point">
  <div class="card">
    <div class="card-body">
      <div class="d-flex mb-3">
          <span
            *ngIf="point.firstCatch"
            title="First Catch!">🏆
          </span>
          <sp-inline-player [id]="point.playerID"></sp-inline-player>
      </div>

      <div class="d-flex mb-3">
        <div class="flex-even d-flex gap-1">
          <sp-ball [ballType]="point.ball"></sp-ball>
          <sp-inline-pokemon [id]="point.pokemonID"></sp-inline-pokemon>
        </div>
        <sp-date [date]="point.catchDate" class="flex-even"></sp-date>
      </div>

      <dl class="d-flex">
        <div class="flex-even">
          <dt>Game:</dt>
          <sp-game [gameType]="point.game"></sp-game>
        </div>

        <div class="flex-even">
          <dt>Method:</dt>
          <sp-method [methodType]="point.method"></sp-method>
        </div>
      </dl>
    </div>
  </div>
</ng-container>
