<div class="smart-layout-evenly align-items-start">
  <div>
    <sp-copy-to-clipboard [sourceElement]=pointsCode/>
    <pre #pointsCode>
        @for(point of newPoints(); track point.id; let isLast = $last) {
  // <sp-inline-competition [id]="point.competitionID"></sp-inline-competition>
  // <sp-inline-player [id]="point.playerID"></sp-inline-player>
  // <sp-inline-pokemon [id]="point.pokemonID"></sp-inline-pokemon>
  '{{ point.id }}': {{ '{' }}
    data: {{ '{' }}
      id: '{{ point.id }}',
      type: 'point',
      attributes: {{ '{' }}
        ball: {{ point.ball ? '\'' + point.ball + '\' as BallType' : 'null' }},
        catchDate: '{{ point.catchDate!.toISOString().split('T')[0] }}',
        firstCatch: {{ point.firstCatch }},
        game: {{ point.game ? '\'' + point.game + '\' as GameType' : 'null' }},
        method: {{ point.method ? '\'' + point.method + '\' as MethodType' : 'null' }},
        oldSystemPoint: false
      &#125;,
      relationships: {{ '{' }}
        competition: {{ '{' }}
          data: {{ '{' }}
            id: '{{ point.competitionID }}',
            type: 'competition'
          &#125;
        &#125;,
        player: {{ '{' }}
          data: {{ '{' }}
            id: '{{ point.playerID }}',
            type: 'player'
          &#125;
        &#125;,
        pokemon: {{ '{' }}
          data: {{ '{' }}
            id: '{{ point.pokemonID }}',
            type: 'pokemon'
          &#125;
        &#125;
      &#125;
    &#125;
  &#125;@if (!isLast) {
,
}
}
    </pre>
  </div>

  <div class="card">
    <div class="card-body">
      <h3>Create Point</h3>

      <form [formGroup]="pointForm" (ngSubmit)="createPoint()">
        <div class="mb-3">
          <label for="competition" class="form-label"> Competition: </label>
          <input
            container="body"
            [editable]="false"
            id="competition"
            type="text"
            class="form-control"
            formControlName="competition"
            [ngbTypeahead]="competitionSearch"
            [inputFormatter]="competitionInputFormatter"
            [resultTemplate]="competitionTemplate"
          />
        </div>

        <div class="mb-3">
          <label for="player" class="form-label"> Player: </label>
          <input
            autofocus
            container="body"
            [editable]="false"
            id="player"
            type="text"
            class="form-control"
            formControlName="player"
            [ngbTypeahead]="playerSearch"
            [inputFormatter]="playerInputFormatter"
            [resultTemplate]="playerTemplate"
          />
        </div>

        <div class="mb-3">
          <label for="pokemon" class="form-label"> Pokémon: </label>
          <input
            container="body"
            [editable]="false"
            id="pokemon"
            type="text"
            class="form-control"
            formControlName="pokemon"
            [ngbTypeahead]="pokemonSearch"
            [inputFormatter]="pokemonInputFormatter"
            [resultTemplate]="pokemonTemplate"
          />
        </div>

        <div class="smart-layout-evenly">
          <div class="mb-3">
            <label for="catchDate" class="form-label"> Date: </label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                formControlName="catchDate"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                D
              </button>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="firstCatch"
                id="first-catch"
              />
              <label class="form-check-label" for="first-catch">
                First Catch?
              </label>
            </div>
          </div>
        </div>

        <div class="smart-layout-end">
          <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="pointForm.invalid"
          >
            Add Point
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #competitionTemplate let-r="result" let-t="term">
  {{ r.theme }}<br />
  <small>
    <sp-date-range
      [startDate]="r.startDate"
      [endDate]="r.endDate"
    ></sp-date-range>
  </small>
</ng-template>

<ng-template #playerTemplate let-r="result" let-t="term">
  {{ r.formattedName }}
</ng-template>

<ng-template #pokemonTemplate let-r="result" let-t="term">
  {{ r.dexNo }}. {{ r.name }}
</ng-template>
