<ng-container *ngrxLet="competition$ as competition">
  <p *ngIf="!competition">
    Could not find requested competition.
  </p>

  <ng-container *ngIf="!!competition">
    <div class="smart-layout-evenly">
      <div class="flex-grow-3">
        <div class="mb-3">
          <h2>{{ competition.theme }}</h2>

          <sp-date-range
            [startDate]="competition.startDate"
            [endDate]="competition.endDate"
            class="mb-3 d-block">
          </sp-date-range>

          <div class="mb-3">
            Theme Chosen by <sp-inline-player [id]="competition.selectedByID"></sp-inline-player>
          </div>

          <p class="preserve-lines">
            {{ competition.description }}
          </p>
        </div>

        <ng-container *ngrxLet="points$ as points">
          <p *ngIf="points.length === 0">
            No points have been scored yet.
          </p>

          <sp-point
            *ngFor="let point of points"
            [point]="point"
            class="mb-3">
          </sp-point>
        </ng-container>
      </div>

      <ng-container *ngrxLet="validPokemon$ as validPokemon">
        <div class="card">
          <div class="card-body">
            <h3 class="mb-0">Valid Pokémon ({{ validPokemon.length }})</h3>

            <p *ngIf="validPokemon.length === 0">
              No valid Pokémon for this competition. This <em>probably</em> means you can catch any Pokémon, but check the rules just in case.
            </p>
          </div>

          <ul class="list-group list-group-flush">
            <li
              *ngFor="let pokemon of validPokemon; trackBy: trackByPokemon; last as isLast;"
              class="list-group-item pokemon-entry">
              <sp-pokemon [pokemon]="pokemon"></sp-pokemon>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
