<ng-container *ngrxLet="currentYear$ as currentYear">
  <ng-container *ngIf="!!currentYear">
    <h3>
      <a [routerLink]="['/years', currentYear.id]">
        This Year ({{ currentYear.name }})
      </a>
    </h3>
  </ng-container>

  <ng-container *ngrxLet="yearCompetitions$ as yearCompetitions">
    <ol class="list-unstyled">
      <li
        *ngFor="let competition of yearCompetitions; last as isLast">
        <div class="smart-layout-evenly align-items-center">
          <a
            [routerLink]="['/competitions', competition.id]"
            class="flex-grow-2">
            {{ competition.theme }}
          </a>
          <small class="text-muted text-lg-end">
            <sp-date [date]="competition.startDate"></sp-date>
            to
            <sp-date [date]="competition.endDate"></sp-date>
          </small>
        </div>
        <hr *ngIf="!isLast">
      </li>
    </ol>
  </ng-container>
</ng-container>
