<h2>Rules</h2>

<p>Shiny Pokémon of the Fortnight Official Rules</p>

<h3>General</h3>

<ol>
  <li>
    Each competition typically runs from 00:00 (12:00am) on Sunday to 23:59
    (11:59pm) on Saturday two weeks later for a total of 14 days. (It STARTS at
    the beginning of Sunday and ENDS at the end of Saturday)
  </li>
  <li>
    Competition start and end time is based in Pacific Standard Time (PST).
  </li>
  <li>Participants can hunt in any main series game… and Pokémon Go too.</li>
  <li>
    Events with boosted rates (promoted raids, events<span
      class="popover-link"
      ngbPopover="Promoted shinies caught on Community Day in Pokémon Go are not worth points."
      >*</span
    >) will count toward points, at the discretion of the most recent fortnight's champion.
  </li>
  <li>
    Participants can use any hunting method available (random encounters, run
    aways, catch combo, horde hunting, poke radar, SOS, "murder method", masuda
    method, soft resetting, wormholes, dynamax adventures, raiding)
  </li>
  <li>
    Hacking, cloning, swap breeding, knowingly entering raid dens where you're
    certain to encounter a shiny, guaranteed static encounters<span
      class="popover-link"
      ngbPopover="The Brandon Lake of Rage Clause."
    >**</span> — all of these are examples of not competing
    fairly within the competition. No exploits, known or unknown, should be
    utilised for your hunt. If you're uncertain if your method is considered
    legitimate, ask the channel.
  </li>
  <li>
    Hunting with external hardware (controllers with turbo functions, Switch Up,
    etc.) is considered illegal as it does not require the hunter's physical
    presence to get their target. The Pokémon GO Plus+, and other devices that
    auto-catch in GO, are allowed.
  </li>
  <li>
    If you are doing a Masuda hunt, you cannot start gathering eggs until the
    theme formally starts. The hunt begins at midnight and gathering eggs is
    viewed as part of the hunt. The same is true for starting a radar chain or
    beginning an SOS chain.
  </li>
  <li>
    Use of Shiny Charm and Masuda Method are encouraged. If you do not have a
    shiny charm, we will be happy to help you get one.
  </li>
  <li>
    Any disagreement over the rules will be settled with either polite
    discussion in Slack, or a duel to the death.
  </li>
</ol>

<h3>Scoring</h3>

<ol>
  <li>
    Each user is to post screenshot/photographic proof of having caught the
    Pokémon within the allotted time period. A successful shiny caught will
    result in one (1) point.
  </li>
  <li>
    Two tracks of points are recorded. A single point for any successful hunt
    within a theme, and a total of all points scored within the themes.
  </li>
  <li>
    For the total points track, you may (typically) score as many points as
    would allow unique evolutions/forms/visible gender differences within the theme. e.g. If you catch
    three Lillipup, that would give three points, as you could evolve them into
    Herdier and Stoutland. If you catch three shiny Stoutland, you would get
    only one point, as you could not turn these into three unique species/forms.
  </li>
  <li>
    The person who selects the theme can put additional restrictions on the
    above rule if needed for the theme.
  </li>
  <li>
    Unless otherwise specified, any pokémon that has the <i>potential</i> to
    become a winning point does not need to be evolved into the winning species
    to claim the point. This is also subject to restrictions by the person
    choosing the theme.
  </li>
  <li>
    The last fortnight of the year is a “Free for All” where all Pokémon are
    worth 1 point. Each unique Pokémon evolution/forme/visibly distinct gender is worth 1 point.<span
      class="popover-link"
      ngbPopover="Spinda has one forme!"
      >***</span
    >
  </li>
  <li>Only catches made in the competition period will count.</li>
</ol>

<h3>Verification</h3>

<ol>
  <li>
    All catches must come with screenshot/photographic proof. This should be posted
    directly to the #shinyhunting channel and not to an external service.
  </li>
  <li>Your in game name must be visible.</li>
  <li>
    Date of capture must be visible and fall within the period of the current
    competition (adjusted for timezone).
  </li>
</ol>

<h3>Theme Selection</h3>

<ol>
  <li>
    The winner of the previous competition gets to pick the theme for the next
    competition.
  </li>
  <li>
    Themes should allow for a variety of Pokémon to be caught. Many of us have a
    lot of shinies already and it's more fun to have the option to catch
    something new.
  </li>
  <li>
    Themes that are relevant to real life events are encouraged (Spooky theme at
    Halloween etc).
  </li>
  <li>
    Ideally, there should be clear criteria for exactly which Pokémon count
    toward the theme, either based on specific Pokémon list or a clearly
    identifiable attribute like type. e.g. a Spooky theme could be any ghost
    type, but a “Food” theme would need a specific list of qualifying Pokémon.
  </li>
  <li>
    If you're really stuck for a theme, feel free to ask for help. If you're not
    going to be available, you can delegate theme selection to another player.
  </li>
  <li>
    Themes should be chosen to provide maximum enjoyment rather than difficulty
    or frustration.
  </li>
  <li>
    The person choosing the theme is not allowed to “win” their own theme. If
    they are the first person to score a point, the next person to score will be
    allowed to pick the next theme.
  </li>
</ol>

<h3>Conditionals</h3>

<ol>
  <li>
    If a winner does not select a theme by the start of the next fortnight OR
    nobody gets a point in a given fortnight, a run-off will occur.
  </li>
  <li>
    The first person to catch a shiny Pokémon, same rules as above, during this
    run-off, selects the theme for the fortnight.
  </li>
  <li>
    This immediately ends the run-off, and once the list for the theme is
    announced, the fortnight is considered to have begun. The person who ends
    the run-off does not get a point.
  </li>
</ol>

<small class="text-muted">
  *Promoted shinies caught on Community Day in Pokémon Go are not worth points.<br />
  **The Brandon Lake of Rage Clause.<br />
  ***Spinda has one forme!
</small>
