@if (!!id()) {
  <div class="card">
    <div class="bg-image" [style.background-image]="pokemon()?.artwork"></div>
    <div class="card-body">
      <div class="d-flex flex-wrap">
        <dl class="d-flex flex-even" style="flex-basis: 15rem">
          <div class="flex-even">
            <dt>Pokémon:</dt>
            <dd class="d-flex gap-1">
              <sp-inline-pokemon [id]="id()" />
            </dd>
          </div>
          <div class="flex-even">
            <dt>Count:</dt>
            <dd class="d-flex gap-1">
              {{value()}}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
}
