@let competition = vm().trophyCompetition;

@if(!competition) {
  <p>
    Could not find requested competition.
  </p>
} @else {
  <div class="smart-layout-evenly">
    <div class="flex-grow-3">
      <sp-trophy-competition
        [trophyCompetition]="competition"
        class="mb-3" />


      @if (vm().points.length === 0) {
        <p>
          No points have been scored yet.
        </p>
      }

      @for (point of vm().points; track point.id) {
        <sp-point
          [point]="point"
          class="mb-3" />
      }
    </div>

    <div class="card align-self-start">
      <div class="card-body">
        <h3 class="mb-3">Valid Pokémon ({{ vm().validPokemon.length }})</h3>

        <p>
          <a [routerLink]="['./infographic']">
            View as Infographic
          </a>
        </p>

        <input
          autocomplete="off"
          type="text"
          class="form-control"
          placeholder="Search"
          (keyup)="filterPokemon($event)" />


        @if (vm().validPokemon.length === 0) {
          @if (vm().searchQuery.length === 0) {
            <p class="mt-3 mb-0">
              No valid Pokémon for this competition. This <em>probably</em> means you can catch any Pokémon, but check the rules just in case.
            </p>
          }

          @if (vm().searchQuery.length > 0) {
            <p class="mt-3 mb-0">
              No Pokémon match “{{ vm().searchQuery }}”.
            </p>
          }
        }
      </div>

      <ul class="list-group list-group-flush">
        @for (pokemon of vm().validPokemon; track pokemon.id) {
          <li class="list-group-item pokemon-entry">
            <sp-pokemon [pokemon]="pokemon" />
          </li>
        }
      </ul>
    </div>
  </div>
}
